
.aboutMe-content {
  height: 100vh;
  width: 100%;
  
  display: flex;
  position: absolute;
  transition: 0.5s all;
  left: -9999px;
  display: flex;
  justify-content: space-around;
}
.aboutMe-content .remove {
  left: -9999px;
}
.aboutMe-content.add {
  top: 0px;
  left: 0px;
}

.aboutMe-content .contactBtn {
  position: absolute;
  top: 50px;
  left: 50px;
  color: black;
}
.aboutMe-content  .contactBtn:after {
  background-color: black;
}

.aboutMe-content  .contactBtn:before {
 background-color: black;

}
.aboutMe-content .projectBtn {
  color: black;
}
.aboutMe-content  .projectBtn:after {
  background-color: black;
}

.aboutMe-content  .projectBtn:before {
  background-color: black;

}
.aboutMe-content .homeBtn {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: black;
}
.aboutMe-content  .homeBtn:after {
  background-color: black;
}

.aboutMe-content  .homeBtn:before {
  background-color: black;

}


.aboutMe-content .btnSpan { 
 
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: 20px;
   background-color: rgba(#eee, 0.5);
  z-index: -1;

  transition: all .3s ease-in-out;
}
 .aboutBtn:hover .btnSpan, .projectBtn:hover .btnSpan, .contactBtn:hover .btnSpan {
  height: 14px;
  width: 100%;
}




.col-1-3 {
  width: 50%;
  height: 100%;



}
 .about-text {
   background-color: #eeeeee;
   font-size: 16px;
   letter-spacing: 2px;
   line-height: 24px;
   text-align: center;
   display: flex;
   align-items: center;
   overflow: hidden;

 }

 .skills {

   background-color: white;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
  align-items: center;

 }
.skills > div {
  margin: 20px;

}

.aboutMe-content .hamburger {

}

 .html-icon {
   background-image: url("../html.png");
   width: 150px;
   height: 150px;
   background-size: contain;
   background-repeat: no-repeat;
 }


.node-icon {
  background-image: url("../node.png");
  background-position: center;
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.css-icon {
  background-image: url("../css-file-black-interface-symbol_icon-icons.com_57722.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.js-icon {
  background-image: url("../js-solid.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;

}
.angular-icon {
  background-image: url("../angular_solidBlack.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.ts-icon {
  background-image: url("../ts.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

.sass-icon {
  background-image: url("../sass.png");
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.about-container {
  height: 100%;
  width: 100%;
  display: flex;
}


@media (max-width: 850px) {
  .about-container {
    display: unset;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
  }
  .col-1-3 {
    width: 100%;
    height: 100vh;
  }
 
  .skills > div {
    margin: 20px;
    width: 300px;
    height: 300px;
  //  position: absolute;
    left: -1000px;
    transition: 1s all;
    opacity: 0;

  }

  .skills > div.out {
    margin: 20px;
    width: 300px;
    height: 300px;
    //position: unset;
    left: unset;
    transition: 1s all;
    opacity: 1;

  }
}



