
.contact-content {
  width:100%;
  height:100vh;
  background-color: white;
  display: block;
  position: absolute;
  left: -9999px;

  top: 0px;
  z-index: 1;
  transition: 1s ease-in-out;


}

.contact-content.remove {
  left: -9999px;
}

.contact-content.add {
  z-index: 2;
  left: 0px;
}


.contact-content .homeBtn {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.contact-content button {
  color: black;

}


.contact-content .btnSpan {
  height: 0px;
  position: absolute;
  left: 0px;
  bottom: 20px;
  background-color: rgba(#eee, 0.5);
  z-index: -1;
  transition: all .3s ease-in-out;
}
.contact-content .homeBtn:hover span {
  height: 14px;
  width: 100%;
  z-index: 9;
}





.contact-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.mail-container {
  margin-top: 100px;
  margin-left: 400px;
  display: flex;
  flex-direction: column;
  align-items: left;
}


.mail-content {
  text-transform: uppercase;
  display: block;
  font-size: 48px;
  font-weight: 400;

}
.mail-address {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 32px;
  margin-bottom: 60px;
}
.facebook-link {
  display: block;
  width: 200px;
  color: black;
  font-size: 14px;
  line-height: 50px;
  letter-spacing: 2px;
  height: 50px;
  border-bottom: 1px solid #eee;
  position: relative;
  z-index: 1;

}
.facebook-link:after {
  content: '';
  height: 0px;

  position: absolute;
  left: 0px;
  bottom: 20px;
  background-color: rgba(#eee, 0.5);
  z-index: -1;

  transition: all .3s ease-in-out;
}

.facebook-link:hover:after {
  height: 14px;
  width: 90px;

}

@media (max-width: 850px) {
  .mail-container {
    margin-left: 20px;
    margin-top: 200px

  }
  .mail-content {
    font-size: 30px;
    margin-top: 50px;
  }

}
