@import "about-stage";
@import "project-stage";
@import "hamburger";
@import "contact-stage.scss";



#startscreen {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: block;
  position: relative;
  z-index: 3;
  transition: 2s ease-in-out;

}

#startscreen.remo {
  top: -9999px;
}




#button
{
  position: fixed;
  z-index: 2;
  opacity: 1;
  width: 11vh;
  height: 11vh;
  bottom: 100px;
  left: calc(50% - 5.5vh);
  background-color: white;
  border: none;
  border-radius: 50%;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 2em;
  transition: 2s ease-in-out;
  cursor: pointer;
  -webkit-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.5);
}
#button.flow {

  left: -120px;
}



.hero {
  width:100%;
  height:100vh;
  background-color: black;
  display: block;
  position: absolute;
  top: 0px;
  left: -9999px;
  z-index: 2;
  transition: 10s ease-in-out;

}


.krassInefade {

  transition: 2s ease-out;
  z-index: 2;
}

.hero.remove {
  left: -9999px;
}
.hero.add {
  left: 0px;
}
.hero.add.remove {
  left: -9999px;
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  color: rgba(255,255,255, 0.5)
}
button {
  width: 100px;
  height: 50px;
  background: transparent;
  color: aliceblue;
  text-transform: uppercase;
  border: none;

}

.titel {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
}
.title-down {
  text-transform: uppercase;
  color: aliceblue;
  font-size: 72px;
  font-weight: bold;
  position: absolute;
  top: 56%;
  left: 41%;
}






.aboutME {
  position: absolute;
  top:50px;
  left: 50px;
}

.aboutME:before, .Contact:before, .project:before, .Contact:before, .homeBtn:before {
  content: '';
  height: 40px;
  width: 1px;
  background-color: white;
  position: absolute;
  top: -50px;
  left: 50%;
  display: block;
  transition: 0.5s all;
  opacity: 0;

}
.aboutME:after, .Contact:after, .project:after, .homeBtn:after {
  content: '';
  height: 10px;
  width: 1px;
  background-color: white;
  position: absolute;
  top: 50px;
  left: 50%;
  display: block;
  transition: 0.5s all;
  opacity: 0;

  //  transform: rotate(180deg);
}

.aboutME:hover:before {
  display: block;
  height: 40px;
  opacity: 1;
  transform: rotateX(180deg);
}

.aboutME:hover:after {
  display: block;
  height: 40px;
  opacity: 1;
}

.Contact {
  position: absolute;
  bottom: 50px;
  left: 50px;
}

.Contact:hover:before {
  display: block;
  height: 40px;
  opacity: 1;
  transform: rotateX(180deg);
}

.Contact:hover:after {
  display: block;
  height: 40px;

  opacity: 1;
}


.project {
  position: absolute;
  top: 50px;
  right:50px;
}
.project:hover:before {
  display: block;
  height: 40px;
  opacity: 1;
  transform: rotateX(180deg);
}

.project:hover:after {
  display: block;
  height: 40px;

  opacity: 1;
}
.homeBtn:hover:before {
  display: block;
  height: 40px;
  opacity: 1;
  transform: rotateX(180deg);
}

.homeBtn:hover:after {
  display: block;
  height: 40px;

  opacity: 1;
}



#triangle-up {
  width: 0;
  height: 0;
  border-left: 100vw solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid black;

  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
}

#triangle-down {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 100vw solid transparent;
  border-top: 100vh solid black;

  float: left;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
}
#triangle-down.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-top: 100vh solid gray;
  transition: 2s ease-in-out;
  z-index: 3;
}

#triangle-up.usenand {
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 100vh solid gray;
  transition: 2s ease-in-out;
  z-index: 3;
}



.hamburger-nav {
  width: 200px;
  height: 500px;
  background-color: gray;
  position: absolute;
  left: -500px;
  transition: ease-in-out 1s;
}

.hamburger-nav.add {
  left: 0px;
}



.hamburger-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}
.hamburger-content button {
  position: relative;
  letter-spacing: 2px;
}